<div class="search-table container mx-auto overflow-x-auto">
  <{{ title_level }} class="text-4xl mb-6 font-bold">
    Mes prochains WePynaires
    <span id="searching" class="htmx-indicator">
        <span class="loading loading-dots loading-md"></span> Recherche...
    </span>
  </{{ title_level }}>

  <label class="flex items-center gap-2 mb-4">
    <input type="search"
        name="search"
        placeholder="Rechercer ici votre WePynaire..."
        hx-get="{% url 'components:search_table:search' %}"
        hx-trigger="input changed delay:500ms"
        hx-target="#search-results"
        hx-swap="innerHTML"
        hx-indicator="#searching" 
        class="grow"  />
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
  </label>

  <table class="table">
    <thead>
      <tr>
        <th>Titre de l'atelier</th>
        <th>Quand ?</th>
        <th>Durée ?</th>
        <th>Inscription</th>
      </tr>
    </thead>
    <tbody id="search-results">
      {% partialdef wepynaires inline=True%}
        {% for wepynaire in wepynaires %}
        <tr>
          <td>{{ wepynaire.title }}</td>
          <td>{{ wepynaire.start_datetime|date:"d F Y à H:i" }}</td>
          <td>{{ wepynaire.duration }} h</td>
          <td><button class="btn btn-outline border-[#e08631] text-[#e08631]" onclick="mymodal.showModal()">Inscription</button></td>
        </tr>
        {% endfor %}
      {% endpartialdef %}
    </tbody>
  </table>
</div>
